ScrollPane {
    -fx-vbar-policy: never; /* 禁止显示垂直滚动条 */
    -fx-hbar-policy: never; /* 禁止显示水平滚动条 */
    -fx-background-color: #f3f9fe; /* 设置背景为透明 */
}

/* 通过设置 ScrollPane 内容区域的溢出处理，隐藏滚动条 */
ScrollPane .viewport {
    -fx-background-color: transparent; /* 可选：设置背景为透明 */
}

ScrollPane .scroll-bar {
    -fx-opacity: 0; /* 隐藏滚动条 */
}

ScrollPane:focused {
    -fx-focus-color: transparent; /* 隐藏焦点框 */
    -fx-faint-focus-color: transparent;
}